# To avoid "engine node is incompatible with this version"
# See https://github.com/facebook/create-react-app/issues/4367#issuecomment-384667501
ignore-engines true

# Less is more
ignore-optional true
