@font-face {
  font-family: 'Roboto';
  src: url('~node_modules/roboto-fontface/fonts/Roboto/Roboto-Regular.eot');
  src: local('Roboto Regular'),
       local('Roboto-Regular'),
       url('~node_modules/roboto-fontface/fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
       url('~node_modules/roboto-fontface/fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
       url('~node_modules/roboto-fontface/fonts/Roboto/Roboto-Regular.woff') format('woff'),
       url('~node_modules/roboto-fontface/fonts/Roboto/Roboto-Regular.ttf') format('truetype'),
       url('~node_modules/roboto-fontface/fonts/Roboto/Roboto-Regular.svg#Roboto') format('svg');
  font-weight: 400;
  font-style: normal;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto';
}

header {
  background-color: #002b36;
  color: white;
  height: 40px;
  padding: 10px 10px;

  #title {
    line-height: 40px;
    font-size: 16px;
    padding-left: 50px;
    background-image: url('images/favicon.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    font-weight: bold;
  }
}

main {
  // FIXME:
  position: relative;
  min-height: 90vh;
}

#editor {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
