@font-face {
  font-family: 'Roboto';
  src: url('~node_modules/roboto-fontface/fonts/Roboto/Roboto-Regular.eot');
  src: local('Roboto Regular'),
       local('Roboto-Regular'),
       url('~node_modules/roboto-fontface/fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
       url('~node_modules/roboto-fontface/fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
       url('~node_modules/roboto-fontface/fonts/Roboto/Roboto-Regular.woff') format('woff'),
       url('~node_modules/roboto-fontface/fonts/Roboto/Roboto-Regular.ttf') format('truetype'),
       url('~node_modules/roboto-fontface/fonts/Roboto/Roboto-Regular.svg#Roboto') format('svg');
  font-weight: 400;
  font-style: normal;
}

$header-height: 56px;

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto';
  overflow: hidden;
}

header {
  .mdc-toolbar__row {
    min-height: $header-height;
    background-color: #002b36;
    color: white;
  }

  #title {
    font-size: 16px;
    padding-left: $header-height;
    margin-left: 0;
    background-image: url('images/favicon.png');
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 8px center;
    display: block;
    font-weight: bold;

    // Show partial path as: ".../org/example/Module.scala"
    text-overflow: ellipsis;
    direction: rtl;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
  }

  .actions {
    max-width: $header-height;
  }
}

main {
  &.mdc-toolbar-fixed-adjust {
    margin-top: $header-height;
  }

  #editor {
    // Header height ($header-height) is 56px
    height: calc(100vh - 56px);
    margin: 0;
  }
}
