name: CI
on:
  push:
    branches:
      - master
      - main
  pull_request:
jobs:
  compile:
    name: Compile
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true
      - uses: actions/setup-java@v4
        with:
          java-version: 8
          distribution: adopt
          cache: 'sbt'
      - uses: sbt/setup-sbt@v1
      - run: sbt +test:compile # ensuring metabrowse compiles for all Scala versions

  unit:
    name: Tests
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        scala: [2.12.20, 2.13.17]
        os: [ubuntu-latest]
        java: [11, 8]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true
      - uses: actions/setup-java@v4
        with:
          java-version: "${{ matrix.java }}"
          distribution: adopt
          cache: 'sbt'
      - uses: sbt/setup-sbt@v1
      - run: sbt ci-test
        env:
          SCALA_VERSION: ${{ matrix.scala }}
          # See https://stackoverflow.com/questions/69692842/error-message-error0308010cdigital-envelope-routinesunsupported/69699772#69699772
          NODE_OPTIONS: "--openssl-legacy-provider"
