name: Release
on:
  push:
    branches:
      - master
      - main
    tags: ["*"]
  release:
    types: [published]
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v4
        with:
          java-version: 8
          distribution: adopt
          cache: 'sbt'
      - uses: sbt/setup-sbt@v1
      - uses: olafurpg/setup-gpg@v3
      - run: git fetch --tags || true
      - name: Publish ${{ github.ref }}
        run: sbt ci-release
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          # See https://stackoverflow.com/questions/69692842/error-message-error0308010cdigital-envelope-routinesunsupported/69699772#69699772
          NODE_OPTIONS: "--openssl-legacy-provider"
